$colors:(
  lighten(#FBEC6B, 10%),
  #FBEC6B,
  #F4BC6B,
  #EB8B6B,
  #E0536B,
  #D6306D,
  #A32C68,
  #722A65,
  #422662,
  #12255D,
  #275B75,
  #3C918B,
  #52C6A2,
  #66F8B6
);


$index:1;
@for $i from 1 through 13 {
  $startColor: nth($colors,$i);
  $endColor: nth($colors, $i+1);
  $font: #fff;
  @if ($i<3) {$font: #666};
  @for $j from 1 through 20 {
    .num-#{$index}{
      background-color: mix($endColor, $startColor, percentage($j/20));
      color: $font ;
    }
    $index: $index+1;
  };
};

body {
  font-family: 'Poiret One', cursive;
}
.intro {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #000;
  opacity:0.7;
  z-index:200;
  display: none; 
}

.intro .content {
  width: 600px;
  height: 400px;
  background-color: #FFF;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity:1;
}


.calculate {
  position:absolute;
  right:5px;
  top:50%;
  transform: translateY(-50%);
  z-index:99;
  color:#000;
}

.calculate li {
  height: 42px
}

.calculate li.submit{
    cursor:pointer; 
    background-color: #3bb3e0;
    padding: 5px 10px;
    margin-top: 20px; 
    position: relative;
    right: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    border-radius: 5px;
    height:initial; 
}


.submit::before {
    background-color: rgba(7, 34, 57, 0.59);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
    left: -2px;
    top: 5px;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0px 1px 0px #fff;
}

.submit:active {
    color: #156785;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    background: rgb(44,160,202);
    box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
    top: 7px;
}

.submit:active::before {
    top: -2px;
    height:120%; 
}





.page-container span {
  display: block;
  float: left;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 35px;
}

.page-container {
  position:absolute;
  left:10px;
  top:70px; 
  width:560px;
  user-select: none; 
}

.mark {
  position:absolute; bottom:20px; left:50%; transform:translateX(-50%);   
}

.mark span {
  display:inline-block; width: 60px;height: 60px; text-align: center; line-height: 60px; color:#6A9414; font-size:60px; border:1px solid #6A9414; 
}

.mark .key {
   border-radius:50%;
}

body{
  overflow:hidden;
  background-color:#fcfcfc;
  margin:0;
  padding:0;
  color:#fff; 
}

.flipbook-viewport{
  overflow:hidden;
  width:100%;
  height:100%;
}

.flipbook-viewport .container{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
}

.flipbook-viewport .flipbook{
  width:1160px;
  height:640px;
  left:-580px;
  top:-320px;
}

.flipbook-viewport .page{
  width:600px;
  height:640px;
  background-color:white;
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.flipbook .page{
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
}

.flipbook-viewport .shadow{
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow:0 0 20px #ccc;
  -moz-box-shadow:0 0 20px #ccc;
  -o-box-shadow:0 0 20px #ccc;
  -ms-box-shadow:0 0 20px #ccc;
  box-shadow:0 0 20px #ccc;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:100;
  background-color:#2B3D4F;
  display:none; 
  opacity:0;
  transition: all 0.5s;
}
.mask.active {
  display:block; 
  opacity:1; 
}



.result {
  width:125%;
  height:160px; 
  background-color: rgba(255,255,255,.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%) scale(1);
  transition: all 0.5s;
  opacity:0;
  overflow:hidden; 
}

.result.active {
    z-index:101; 
    transform: translate(-50%,-50%) scale(0.8);
    opacity:1;
}
.result-content {
  color: #fff;
  text-align: center; 
  font-size:96px;
  text-shadow: 2px 2px #2c3e50;   
  padding:30px 0; 
}

.close { 
  position: absolute;
  right:20px;
  top: 20px;  
  width: 30px;
  height: 30px;
}

.close span {
  display: inline-block;
  width: 30px;
  height: 4px; 
  position: absolute;
  background-color: #000;
}

.result .close span:nth-child(1) {
  transform:rotate(0deg);
  transition: all 0.3s;
}
.result .close span:nth-child(2) {
  transform:rotate(0deg);
  transition: all 0.3s;
}

.result.active .close span:nth-child(1) {
  transform:rotate(45deg);
}
.result.active .close span:nth-child(2) {
  transform:rotate(135deg);
}


label {
    position: relative;
    padding-left: 25px;
    font-size: 18px;  
    cursor: pointer;
}
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    position: absolute;
    left: -20px;
    top: -6px;
}


input[type="checkbox"]:checked + label:after {
  display:none; 
}

label:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/></svg>');
    position: absolute;
    left: -20px;
    top: -6px;
}

