$colors:(
  lighten(#FBEC6B, 10%),
  #FBEC6B,
  #F4BC6B,
  #EB8B6B,
  #E0536B,
  #D6306D,
  #A32C68,
  #722A65,
  #422662,
  #12255D,
  #275B75,
  #3C918B,
  #52C6A2,
  #66F8B6
);


$index:1;
@for $i from 1 through 13 {
  $startColor: nth($colors,$i);
  $endColor: nth($colors, $i+1);
  $font: #fff;
  @if ($i<3) {$font: #666};
  @for $j from 1 through 20 {
    .num-#{$index}{
      background-color: mix($endColor, $startColor, percentage($j/20));
      color: $font ;
    }
    $index: $index+1;
  };
};


.intro {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #000;
  opacity:0.7;
  z-index:200;
  display: none; 
}

.intro .content {
  width: 600px;
  height: 400px;
  background-color: #FFF;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  opacity:1;
}


.calculate {
  position:absolute;
  right:5px;
  top:300px;
  z-index:99;
  color:#000;
}

.calculate li.submit{
    cursor:pointer; 
    background-color: #3bb3e0;
    padding: 5px 10px;
    margin-top: 20px; 
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );
    box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    border-radius: 5px;
}


.submit::before {
    background-color: rgba(7, 34, 57, 0.59);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
    left: -2px;
    top: 5px;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0px 1px 0px #fff;
}

.submit:active {
    color: #156785;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    background: rgb(44,160,202);
    box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
    top: 7px;
}

.submit:active::before {
    top: -2px;
    height:120%; 
}





.page-container span {
  display: block;
  float: left;
  text-align: center;
  line-height: 35px;
  height: 35px;
  width: 35px;
}

.page-container {
  position:absolute;
  left:10px;
  top:70px; 
  width:560px;
  user-select: none; 
}

.mark {
  position:absolute; bottom:20px; left:50%; transform:translateX(-50%);   
}

.mark span {
  display:inline-block; width: 60px;height: 60px; text-align: center; line-height: 60px; color:#6A9414; font-size:60px; border:1px solid #6A9414; 
}

.mark .key {
   border-radius:50%;
}

body{
  overflow:hidden;
  background-color:#fcfcfc;
  margin:0;
  padding:0;
  color:#fff; 
}

.flipbook-viewport{
  overflow:hidden;
  width:100%;
  height:100%;
}

.flipbook-viewport .container{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
}

.flipbook-viewport .flipbook{
  width:1160px;
  height:740px;
  left:-580px;
  top:-370px;
}

.flipbook-viewport .page{
  width:600px;
  height:740px;
  background-color:white;
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.flipbook .page{
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
}

.flipbook-viewport .shadow{
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow:0 0 20px #ccc;
  -moz-box-shadow:0 0 20px #ccc;
  -o-box-shadow:0 0 20px #ccc;
  -ms-box-shadow:0 0 20px #ccc;
  box-shadow:0 0 20px #ccc;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:100;
  background-color:#000;
  display:none; 
  opacity:0;
  transition: all 0.5s;
}
.mask.active {
  display:block; 
  opacity:0.7; 
}



.result {
  width: 700px;
  height: 500px;
  border-radius:5px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  transition: all 0.5s;
  z-index:101; 
  opacity:0;
  color: #000;
  padding:20px;  
}

.result.active {
    width: 500px;
    height: 300px;
    opacity:1;
}
.result-content {
  text-align: center; 
  font-size: 36px;
  line-height:2em; 
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.close { 
  position: absolute;
  right:10px;
  top: 10px;  
  width: 20px;
  height: 20px;
}

.close span {
  display: inline-block;
  width: 20px;
  height: 4px; 
  position: absolute;
  background-color: #000;
}

.result .close span:nth-child(1) {
  transform:rotate(0deg);
  border-radius:0%;
  transition: all 0.3s;
}
.result .close span:nth-child(2) {
  transform:rotate(0deg);
  border-radius:0%;
  transition: all 0.3s;
}

.result.active .close span:nth-child(1) {
  transform:rotate(45deg);
  border-radius:50%;
}
.result.active .close span:nth-child(2) {
  transform:rotate(135deg);
  border-radius:50%;
}


label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}


label:after {
    content: 'x';
    position: absolute;
    top: 1px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    opacity:0;
    transform:scale(0);
    transition: all .2s;
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.calculate li {
  margin-top: 10px
}